.dashboard {
    padding: 20px;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    color: #003478;
    margin-bottom: 20px;
}

.topo {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-veiculo,
.card-info {
    border: 1px solid #ccc;
    padding: 15px;
    width: 180px;
    background: white;
}

.card-veiculo select {
    width: 100%;
    padding: 8px;
}

.card-info h4 {
    margin-bottom: 10px;
    color: #003478;
}

.card-info p {
    font-size: 22px;
    font-weight: bold;
}

.imagem-carro {
    text-align: center;
    margin: 30px 0;
}

.imagem-carro img {
    width: 350px;
}

.tabela {
    margin-top: 20px;
}

.tabela input {
    padding: 10px;
    width: 300px;
}

.tabela button {
    padding: 10px 15px;
    margin-left: 10px;
    background: #003478;
    color: white;
    border: none;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th {
    background: #003478;
    color: white;
}

th,
td {
    border: 1px splid #ccc;
    padding: 10px;
    text-align: center;
}